@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@400;500;600;800&family=Roboto:wght@900&display=swap");

$logoFont: "Roboto", sans-serif;
$titleFont: "Montserrat", sans-serif;
$paragrafFont: "Inter", sans-serif;
