//! En Çok Merak Edilenler
// start
.merak-edilen-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;

  .top {
    .title {
      h2 {
        font-size: 2rem;
        color: $colorOne;
        font-family: $titleFont;
        font-weight: 600;
        text-align: center;
      }
    }

    .baglanti {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -0.2rem;
      margin-bottom: 1rem;
      flex-wrap: wrap;

      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: rgba($color: #333333, $alpha: 0.5);
        margin-right: 0.2rem;

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        transform: translateY(12%);
        margin-right: 0.2rem;

        i {
          color: rgba($color: #333333, $alpha: 0.5);
        }
      }

      div {
        font-size: 0.9rem;
        color: rgba($color: #333333, $alpha: 0.5);
        margin-right: 0.2rem;
      }
    }
  }

  .main {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .card-wrap {
      margin-top: 0.5rem;
      text-align: center;
      max-width: 800px;
      width: 100%;
      display: flex;
      justify-content: center;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: nowrap;

        .card-item {
          display: flex;
          flex-direction: column;
          background-color: $colorThree;
          width: 200px;
          height: 150px;
          padding: 2rem 1rem;
          border-radius: 15px;
          cursor: pointer;
          flex-shrink: 0;

          &:hover {
            background-color: #d9d9d9;
          }

          &.active {
            background-color: $colorOne;
            transition: 0.3s ease;

            i {
              color: white;
            }

            span {
              color: white;
            }
          }

          i {
            text-align: center;
            font-size: 2.5rem;
            margin-top: -0.6rem;
            margin-bottom: 0.7rem;
          }

          span {
            text-align: center;
            margin-top: 0.5rem;
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
    }

    .content {
      margin-top: 2.5rem;
      max-width: 900px;
      width: 100%;

      p {
        text-align: left;
        font-size: 1.3rem;
        color: $colorFour;
        font-family: $paragrafFont;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 0.8rem;

          span {
            font-size: 1.3rem;

            i {
              color: $colorOne;
              margin-right: 0.7rem;
            }
          }
        }

        p {
          text-align: left;
          font-size: 1.3rem;
          color: $colorFour;
          font-family: $paragrafFont;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .main .card-wrap {
    ul {
      overflow-y: auto;
    }

    ::-webkit-scrollbar {
      height: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(43, 136, 212, 0.8);
      border-radius: 4px;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .merak-edilen-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -0.5rem;

    .top {
      .title {
        h2 {
          font-size: 1.8rem;
          color: $colorOne;
          font-family: $titleFont;
          font-weight: 600;
          text-align: center;
        }
      }

      .baglanti {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -0.2rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        a {
          text-decoration: none;
          font-size: 0.9rem;
          color: rgba($color: #333333, $alpha: 0.5);
          margin-right: 0.2rem;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          transform: translateY(12%);
          margin-right: 0.2rem;

          i {
            color: rgba($color: #333333, $alpha: 0.5);
          }
        }

        div {
          font-size: 0.9rem;
          color: rgba($color: #333333, $alpha: 0.5);
          margin-right: 0.2rem;
        }
      }
    }

    .main {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      .card-wrap {
        margin-top: 0.5rem;
        text-align: center;
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          gap: 15px;
          flex-wrap: nowrap;

          .card-item {
            display: flex;
            flex-direction: column;
            background-color: $colorThree;
            width: 200px;
            height: 150px;
            padding: 2rem 1rem;
            border-radius: 15px;
            cursor: pointer;
            flex-shrink: 0;

            &:hover {
              background-color: #d9d9d9;
            }

            &.active {
              background-color: $colorOne;
              transition: 0.3s ease;

              i {
                color: white;
              }

              span {
                color: white;
              }
            }

            i {
              text-align: center;
              font-size: 2.5rem;
              margin-top: -0.6rem;
              margin-bottom: 0.7rem;
            }

            span {
              text-align: center;
              margin-top: 0.5rem;
              font-size: 1rem;
              font-weight: 700;
            }
          }
        }
      }

      .content {
        margin-top: 2.5rem;
        max-width: 900px;
        width: 100%;

        p {
          text-align: left;
          font-size: 1.1rem;
          color: $colorFour;
          font-family: $paragrafFont;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            margin-bottom: 0.8rem;

            span {
              font-size: 1.1rem;

              i {
                color: $colorOne;
                margin-right: 0.7rem;
              }
            }
          }

          p {
            text-align: left;
            font-size: 1.3rem;
            color: $colorFour;
            font-family: $paragrafFont;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .merak-edilen-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -0.5rem;

    .top {
      .title {
        h2 {
          font-size: 1.7rem;
          color: $colorOne;
          font-family: $titleFont;
          font-weight: 600;
          text-align: center;
        }
      }

      .baglanti {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -0.2rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        a {
          text-decoration: none;
          font-size: 0.9rem;
          color: rgba($color: #333333, $alpha: 0.5);
          margin-right: 0.2rem;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          transform: translateY(12%);
          margin-right: 0.2rem;

          i {
            color: rgba($color: #333333, $alpha: 0.5);
          }
        }

        div {
          font-size: 0.9rem;
          color: rgba($color: #333333, $alpha: 0.5);
          margin-right: 0.2rem;
        }
      }
    }

    .main {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      .card-wrap {
        margin-top: 0.5rem;
        text-align: center;
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: row;
          gap: 15px;
          flex-wrap: nowrap;

          .card-item {
            display: flex;
            flex-direction: column;
            background-color: $colorThree;
            width: 200px;
            height: 150px;
            padding: 2rem 1rem;
            border-radius: 15px;
            cursor: pointer;
            flex-shrink: 0;

            &:hover {
              background-color: #d9d9d9;
            }

            &.active {
              background-color: $colorOne;
              transition: 0.3s ease;

              i {
                color: white;
              }

              span {
                color: white;
              }
            }

            i {
              text-align: center;
              font-size: 2.5rem;
              margin-top: -0.6rem;
              margin-bottom: 0.7rem;
            }

            span {
              text-align: center;
              margin-top: 0.5rem;
              font-size: 1rem;
              font-weight: 700;
            }
          }
        }
      }

      .content {
        margin-top: 2.5rem;
        max-width: 900px;
        width: 100%;

        p {
          text-align: left;
          font-size: 1.1rem;
          color: $colorFour;
          font-family: $paragrafFont;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            margin-bottom: 0.8rem;

            span {
              font-size: 1.1rem;

              i {
                color: $colorOne;
                margin-right: 0.7rem;
              }
            }
          }

          p {
            text-align: left;
            font-size: 1.3rem;
            color: $colorFour;
            font-family: $paragrafFont;
          }
        }
      }
    }
  }
}

// finish

//! Sıkça Sorulan Sorular
// start
.sikca-sorulan-sorular-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;

  .top {
    .title {
      h2 {
        font-size: 2rem;
        color: $colorOne;
        font-family: $titleFont;
        font-weight: 600;
        text-align: center;
      }
    }

    .baglanti {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -0.2rem;
      margin-bottom: 1rem;
      flex-wrap: wrap;

      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: rgba($color: #333333, $alpha: 0.5);
        margin-right: 0.2rem;

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        transform: translateY(12%);
        margin-right: 0.2rem;

        i {
          color: rgba($color: #333333, $alpha: 0.5);
        }
      }

      div {
        font-size: 0.9rem;
        color: rgba($color: #333333, $alpha: 0.5);
        margin-right: 0.2rem;
      }
    }
  }

  .main {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .options {
      &-items {
        display: flex;
        flex-direction: column;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 30px;
          width: 1.5px;
          height: 100%;
          background-color: rgba($color: #2b88d4, $alpha: 0.5);
          border-radius: 10px;
        }

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 0.8rem;
          background-color: white;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          width: 90%;
          height: 115px;
          padding: 1rem;
          border-radius: 20px;
          cursor: pointer;
          transform: translateX(-5%);

          &.active {
            background-color: $colorOne;

            .title {
              color: white;
            }

            .text {
              color: white;
            }
          }

          .title {
            font-family: $titleFont;
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 0.4rem;
            color: $colorFour;
          }

          .text {
            font-family: $paragrafFont;
            font-weight: 400;
            font-size: 0.9rem;
            text-align: center;
            color: rgba($color: #333333, $alpha: 0.7);
          }
        }
      }
    }
    .content {
      .collapse-wrap {
        display: flex;
        flex-direction: column;
        &-item {
          background-color: rgba($color: #f2f2f2, $alpha: 0.7);
          border-radius: 20px;
          padding: 1rem;
          width: 100%;
          margin-bottom: 1.6rem;
          cursor: pointer;
          position: relative;

          i {
            position: absolute;
            top: 25px;
            right: 5%;
            font-size: 1.5rem;
            transition: 0.3s ease;

            &.active {
              transform: rotate(180deg);
            }
          }

          h4 {
            color: rgba($color: #333333, $alpha: 0.9);
            font-family: $titleFont;
            font-weight: 600;
            font-size: 1.2rem;
            margin-left: 0.5rem;
            margin-top: 0.6rem;
            max-width: 85%;
            line-height: 35px;
          }

          &-content {
            padding: 0 0.5rem;
            margin-top: 0.9rem;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease;

            &.active {
              max-height: 500px;
            }
            p {
              font-size: 1.1rem;
              font-family: $paragrafFont;
              font-weight: 400;
            }

            ul {
              margin: 0;
              padding: 0 0.6rem;
              // transform: translateX(-1%);

              li {
                margin-bottom: 0.7rem;
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .sikca-sorulan-sorular-wrap {
    .main {
      display: flex;
      flex-direction: column;

      .options {
        margin-bottom: 2rem;
        &-items {
          display: flex;
          flex-direction: row;
          position: relative;
          overflow-y: auto;
          overflow-y: hidden;
          flex-wrap: nowrap;
          gap: 30px;
          // justify-content: flex-end;

          &::before {
            content: "";
            display: none;
          }

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 0.8rem;
            background-color: $colorThree;
            width: 240px;
            height: 115px;
            padding: 1rem;
            border-radius: 20px;
            cursor: pointer;
            flex-shrink: 0;
            box-shadow: 0 0 10px 5px rgba(255, 255, 255, 1);
            padding-left: 1rem;

            &.active {
              background-color: $colorOne;

              .title {
                color: white;
              }

              .text {
                color: white;
              }
            }

            .title {
              font-family: $titleFont;
              font-weight: 600;
              font-size: 1.1rem;
              margin-bottom: 0.4rem;
              color: $colorFour;
            }

            .text {
              font-family: $paragrafFont;
              font-weight: 400;
              font-size: 0.9rem;
              text-align: center;
              color: rgba($color: #333333, $alpha: 0.7);
            }
          }
        }
        ::-webkit-scrollbar {
          height: 10px;
        }

        ::-webkit-scrollbar-thumb {
          background: rgba(43, 136, 212, 0.8);
          border-radius: 4px;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .sikca-sorulan-sorular-wrap {
    margin-top: -0.7rem;
    .main {
      display: flex;
      flex-direction: column;

      .options {
        margin-bottom: 2rem;
        margin-top: -1.7rem;
        &-items {
          display: flex;
          flex-direction: row;
          position: relative;
          overflow-y: auto;
          flex-wrap: nowrap;
          gap: 30px;

          ::-webkit-scrollbar {
            height: 10px;
          }

          ::-webkit-scrollbar-thumb {
            background: rgba(43, 136, 212, 0.8);
            border-radius: 4px;
          }

          &::before {
            content: "";
            display: none;
          }

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 0.8rem;
            background-color: $colorThree;
            width: 240px;
            height: 115px;
            padding: 1rem;
            border-radius: 20px;
            cursor: pointer;
            // transform: translateX(-5%);
            flex-shrink: 0;
            box-shadow: 0 0 10px 5px rgba(255, 255, 255, 1);

            &.active {
              background-color: $colorOne;

              .title {
                color: white;
              }

              .text {
                color: white;
              }
            }

            .title {
              font-family: $titleFont;
              font-weight: 600;
              font-size: 1.1rem;
              margin-bottom: 0.4rem;
              color: $colorFour;
            }

            .text {
              font-family: $paragrafFont;
              font-weight: 400;
              font-size: 0.9rem;
              text-align: center;
              color: rgba($color: #333333, $alpha: 0.7);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .sikca-sorulan-sorular-wrap {
    margin-top: -0.7rem;
    .main {
      display: flex;
      flex-direction: column;

      .options {
        margin-bottom: 2rem;
        &-items {
          display: flex;
          flex-direction: row;
          position: relative;
          overflow-y: auto;
          flex-wrap: nowrap;
          gap: 30px;

          ::-webkit-scrollbar {
            height: 10px;
          }

          ::-webkit-scrollbar-thumb {
            background: rgba(43, 136, 212, 0.8);
            border-radius: 4px;
          }

          &::before {
            content: "";
            display: none;
          }

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 0.8rem;
            background-color: $colorThree;
            width: 240px;
            height: 115px;
            padding: 1rem;
            border-radius: 20px;
            cursor: pointer;
            // transform: translateX(-5%);
            flex-shrink: 0;
            box-shadow: 0 0 10px 5px rgba(255, 255, 255, 1);

            &.active {
              background-color: $colorOne;

              .title {
                color: white;
              }

              .text {
                color: white;
              }
            }

            .title {
              font-family: $titleFont;
              font-weight: 600;
              font-size: 1.1rem;
              margin-bottom: 0.4rem;
              color: $colorFour;
            }

            .text {
              font-family: $paragrafFont;
              font-weight: 400;
              font-size: 0.9rem;
              text-align: center;
              color: rgba($color: #333333, $alpha: 0.7);
            }
          }
        }
      }
    }
  }
}
// finish
